<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./vendor/videogular-themes-default/videogular.css"/>
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/music-bar.css"/>
    <link rel="stylesheet" href="assets/music-albums.css"/>
    <link rel="stylesheet" href="assets/music-playlist.css"/>
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng-cloak] {
            display: none;
        }
    </style>
</head>

<body ng-cloak ng-app="mu" ng-controller="MusicController as mc">

<div class="music" ng-class="{'music_with_menu':mc.menuOpened}">

    <div class="music__menu-container">
        <nav class="music__menu">
            <div class="music__menu-list">
                <a href="#"><i class="fa fa-fw fa-star-o"></i><span>Все вместе</span></a>
                <a href="#"><i class="fa fa-fw fa-bell-o"></i><span>Мои</span></a>
                <a href="#"><i class="fa fa-fw fa-envelope-o"></i><span>Со стены</span></a>
                <a href="#"><i class="fa fa-fw fa-comment-o"></i><span>Из групп</span></a>
                <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i><span>От друзей</span></a>
            </div>
        </nav>
        <button class="music__menu-close" id="close-button" ng-click="mc.menuToggle()">Close Menu</button>
        <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"/>
            </svg>
        </div>
    </div>
    <!--<button class="music__menu-open" id="open-button" ng-click="mc.menuToggle()">Open Menu</button>-->

    <div class="music__content-container" ng-click="mc.menuClose()">
        <div class="music__content">
            <header class="music-bar" ng-if="!mc.isGuest">
                <videogular
                        vg-player-ready="mc.onPlayerReady($API)"
                        vg-complete="mc.onPlayerComplete()"
                        class="music-bar__player">
                    <vg-media vg-src="mc.currentSource" vg-type="audio"></vg-media>

                    <vg-controls>
                        <div class="music-bar__panel">
                            <div class="music-bar__controls" ng-if="mc.currentSource.length">
                                <vg-play-pause-button></vg-play-pause-button>
                            </div>

                            <div class="music-bar__user">
                                <button type="button"
                                        class="btn btn-default music-bar__user-logout"
                                        ng-click="mc.logout()">Выход</button>

                                <div class="music-bar__user-name">
                                    {{ mc.username }}
                                </div>

                                <form class="navbar-form music-bar__search" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control music-bar__search-input" placeholder="Search">
                                    </div>
                                </form>

                                <vg-volume class="music-bar__volume" ng-if="mc.currentSource.length">
                                    <vg-mute-button></vg-mute-button>
                                    <volume-horizontal-bar></volume-horizontal-bar>
                                </vg-volume>
                            </div>
                        </div>
                        <div class="music-bar__download">
                            <a ng-href="{{ mc.currentAudio.url }}" ng-if="mc.currentAudio" target="_blank" title="Скачать" class="music-bar__download-link">
                                <i class="glyphicon glyphicon-cloud"></i>
                            </a>
                        </div>
                        <div class="music-bar__timeline">
                            <span ng-if="mc.currentSource.length">
                                <vg-time-display class="music-bar__time-current">{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                <vg-scrub-bar class="music-bar__timeline-scrub-bar">
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <div class="music-bar__track-name">
                                        {{ mc.currentAudio.artist }}&nbsp;&mdash;&nbsp;{{ mc.currentAudio.title }}
                                    </div>
                                </vg-scrub-bar>
                                <vg-time-display class="music-bar__time-left">{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                            </span>
                        </div>
                    </vg-controls>
                </videogular>
            </header>

            <section class="music__login" ng-if="mc.isGuest">
                <button type="button"
                        class="btn btn-default btn-lg music__login-button"
                        ng-click="mc.login()"
                        ng-if="mc.isGuest">Войти через ВКонтакте</button>
            </section>

            <section class="row">
                <aside class="music__content-aside col-md-4 col-lg-3">
                    <div ng-if="!mc.isGuest" class="music-albums">
                        <div class="music-albums__item" ng-repeat="(artist, audios) in mc.items" ng-click="mc.playGroup(audios, artist, $event)">
                            <div class="music-albums__item-title">
                                {{ artist }}
                            </div>
                            <div class="music-albums__item-count" ng-if="audios.length > 1">
                                {{ audios.length }}
                            </div>
                        </div>
                    </div>
                </aside>
                <section role="main" class="music__content-main col-md-8 col-lg-9">
                    <div ng-if="mc.audios.length" class="music-playlist">
                        <div class="music-playlist__title">{{ mc.audiosName }}</div>
                        <div class="music-playlist__content">

                            <table class="table music-playlist__table">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Исполнитель</th>
                                    <th>Длительность</th>
                                    <th>Жанр</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="music-playlist__table-row"
                                    ng-class="{'music__audio-item active': index == mc.currentPosition}"
                                    ng-click="mc.playByPosition(index, $event)"
                                    ng-repeat="(index, audio) in mc.audios">

                                    <td>{{ audio.title }}</td>
                                    <td>{{ audio.artist }}</td>
                                    <td>{{ audio.time }}</td>
                                    <td>{{ audio.genre }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </section>

        </div>
    </div>
</div>

<script src="./vendor/angular/angular.js"></script>
<script src="./vendor/angular-animate/angular-animate.js"></script>
<script src="./vendor/angular-aria/angular-aria.js"></script>
<script src="./vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="./vendor/videogular/videogular.js"></script>
<script src="./vendor/videogular-controls/vg-controls.js"></script>
<script src="./vendor/snap.svg/dist/snap.svg.js"></script>

<script src="./src/vk/Module.js"></script>
<script src="./src/vk/Service.js"></script>
<script src="./src/music/Module.js"></script>
<script src="./src/music/MusicController.js"></script>
<script src="./src/music/MusicService.js"></script>
<script src="./src/music/VolumeDirective.js"></script>
<script src="./src/app.js"></script>

<div id="vk_api_transport"></div>
</body>
</html>
