.music-playlist__title {
  padding: 22px 40px;
  font-size: 18px;
}
.music-playlist__content {
  padding: 0 20px 20px;
}
.music-playlist__table-row-play-icon {
  cursor: pointer;
  margin-right: 20px;
}
.music-playlist__table-row-add-icon {
  cursor: pointer;
  margin-right: 20px;
}
.music-playlist__table-row-title {
  font-size: 16px;
}
.music-playlist__table-row {
  border: none;
}
.music-playlist__table-row_active {
  background-color: #dfe2e9;
}
.music-playlist .music-playlist__table-head {
  border-bottom: none;
}
