$ctx = music-playlist

.{$ctx}
	&__title
		padding 22px 40px
		font-size 18px

	&__title-icon
		margin-right 20px

	&__content
		padding 40px

	&__table-row
		border none
		cursor pointer

		&_active
			background-color #dfe2e9

	& &__table-head
		border-bottom none
