.music-bar {
  width: 100%;
  height: 72px;
  position: fixed;
  z-index: 990;
  top: 0;
  border-bottom: 1px solid darker(#ccc, 20%);
}
.music-bar__player {
  height: 50px;
  color: #fff;
  background-color: #567ca4;
}
.music-bar__panel {
  height: 50px;
}
.music-bar__timeline {
  margin-right: 40px;
  position: relative;
  height: 22px;
  background-color: #4b6d94;
}
.music-bar__download {
  float: right;
  width: 40px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  background-color: #4b6d94;
}
.music-bar__download-link {
  color: #fff;
  display: inline-block;
  padding-top: 2px;
}
.music-bar__timeline-scrub-bar {
  display: table;
  width: 100%;
}
.music-bar__timeline-scrub-bar :focus vg-scrub-bar-current-time {
  border-right: none;
}
.music-bar__timeline-scrub-bar [role=slider] {
  margin-top: 0;
  margin-bottom: 0;
  height: 22px;
  background: #4b6d94;
}
.music-bar__time-current {
  height: 22px;
  position: absolute;
  left: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.music-bar__time-left {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.music-bar__track-name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 22px;
  line-height: 22px;
}
.music-bar__brand {
  position: absolute;
  left: 0;
  padding-left: 10px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
}
.music-bar__brand-icon {
  font-size: 28px;
}
.music-bar__controls {
  position: absolute;
  display: table;
  left: 210px;
  height: 50px;
}
.music-bar__prev-button,
.music-bar__next-button {
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.music-bar__search {
  float: right;
}
.music-bar__search-input {
  color: #d9e2ec;
  background-color: #4b6d94;
  border-color: #4b6d94;
}
.music-bar__search-input::-moz-placeholder {
  color: #d9e2ec;
  opacity: 1;
}
.music-bar__search-input:-ms-input-placeholder {
  color: #d9e2ec;
}
.music-bar__search-input::-webkit-input-placeholder {
  color: #d9e2ec;
}
.music-bar__search-input:focus {
  color: #2b2f33;
  background-color: #fff;
}
.music-bar__search-input:focus::-moz-placeholder {
  color: #2b2f33;
  opacity: 1;
}
.music-bar__search-input:focus:-ms-input-placeholder {
  color: #2b2f33;
}
.music-bar__search-input:focus::-webkit-input-placeholder {
  color: #2b2f33;
}
.music-bar__volume {
  float: right;
}
.music-bar__right {
  position: absolute;
  right: 0;
  height: 50px;
  padding-right: 10px;
}
.music-bar__fork {
  margin-right: 20px;
  float: right;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
}
.music-bar__fork:hover {
  color: rgba(255,255,255,0.5);
}
.music-bar__username {
  float: right;
  line-height: 50px;
  margin-right: 20px;
}
.music-bar__logout {
  margin-right: 20px;
  line-height: 50px;
  float: right;
  cursor: pointer;
  color: #fff;
}
.music-bar__logout:hover {
  color: rgba(255,255,255,0.5);
}
.music-bar vg-controls .controls-container {
  background-color: transparent;
}
.music-bar vg-play-pause-button {
  font-size: 24px;
}
.music-bar vg-scrub-bar-current-time {
  background-color: rgba(255,255,255,0.3);
}
.music-bar vg-volume {
  width: auto;
  font-size: 24px;
  text-align: left;
}
.music-bar vg-volume:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.music-bar vg-mute-button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.music-bar volume-horizontal-bar {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  vertical-align: middle;
}
.music-bar volume-horizontal-bar .horizontalVolumeBar {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}
.music-bar volume-horizontal-bar .volumeBackground {
  height: 10px;
  width: 140px;
  left: 0;
  top: 20px;
  background-color: #4b6d94;
  position: absolute;
}
.music-bar volume-horizontal-bar .volumeValue {
  width: 100%;
  height: 10px;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
}
.music-bar volume-horizontal-bar .volumeClickArea {
  width: 100%;
  height: 20px;
  position: absolute;
}
